<h1>Cidades</h1>

<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Nome</th>
      <th>Estado</th>
      <th class="text-center">
        <a
          [routerLink]="['/cidades/novo']"
          href="#"
          title="Novo"
          alt="Novo"
          class="btn btn-xs btn-sucess"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>Novo
        </a>
      </th>
    </tr>

    <tr *ngFor="let cidade of cidades">
      <td>{{ cidade.nome }}</td>
      <td>{{ cidade?.estado?.sigla }}</td>
      <td class="text-center">
        <a
          mat-raised-button
          (click)="abrirModal(cidade)"
          title="VerDetalhes"
          alt="VerDetalhes"
          class="btn btn-xs btn-info"
        >
          <i class="fa fa-edit" aria-hidden="true"></i>Ver Detalhes
        </a>
        <a
          [routerLink]="['/cidades/editar', cidade.id]"
          href="#"
          title="Editar"
          alt="Editar"
          class="btn btn-xs btn-info"
        >
          <i class="fa fa-edit" aria-hidden="true"></i>Editar
        </a>
        <a
          href="#"
          title="Remover"
          class="btn btn-xs btn-danger"
          (click)="remover($event, cidade)"
        >
          <i class="fa fa-times" aria-hidden="true"></i>Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
