<h1>Novo Endereço</h1>

<div class="well">
  <form #formEndereco="ngForm">
    <div class="form-group">
      <label for="rua">Rua:</label>
      <input
        type="text"
        class="form-control"
        id="rua"
        name="rua"
        [(ngModel)]="endereco.rua"
        #rua="ngModel"
        minlength="2"
        required
      />
      <div
        *ngIf="rua.errors && (rua.dirty || rua.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!rua.errors?.['required']">Digite a Rua.</div>
        <div [hidden]="!rua.errors?.['minlength']">
          A rua deve conter no minimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="numero">Numero: </label>
      <input
        type="text"
        class="form-control"
        id="numero"
        name="numero"
        [(ngModel)]="endereco.numero"
        #numero="ngModel"
        minlength="2"
        numerico
        required
      />
      <div
        *ngIf="numero.errors && (numero.dirty || numero.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!numero.errors?.['required']">Digite o Numero.</div>
        <div [hidden]="!numero.errors?.['minlength']">
          O numero deve conter no minimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="rua">Complemento:</label>
      <input
        type="text"
        class="form-control"
        id="complemento"
        name="complemento"
        [(ngModel)]="endereco.complemento"
        #complemento="ngModel"
        minlength="2"
        required
      />
      <div
        *ngIf="complemento.errors && (complemento.dirty || complemento.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!complemento.errors?.['required']">
          Digite a complemento.
        </div>
        <div [hidden]="!complemento.errors?.['minlength']">
          A complemento deve conter no minimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="bairro">Bairro:</label>
      <input
        type="text"
        class="form-control"
        id="bairro"
        name="bairro"
        [(ngModel)]="endereco.bairro"
        #bairro="ngModel"
        minlength="2"
        required
      />
      <div
        *ngIf="bairro.errors && (bairro.dirty || bairro.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!bairro.errors?.['required']">Digite a bairro.</div>
        <div [hidden]="!bairro.errors?.['minlength']">
          A bairro deve conter no minimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cep">Cep:</label>
      <input
        type="text"
        class="form-control"
        id="cep"
        name="cep"
        [(ngModel)]="endereco.cep"
        #cep="ngModel"
        minlength="9"
        maxlength="9"
        mask="00000-000"
        required
      />
      <div
        *ngIf="cep.errors && (cep.dirty || cep.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!cep.errors?.['required']">Digite a cep.</div>
        <div [hidden]="!cep.errors?.['minlength']">
          O cep deve conter no minimo 8 digitos.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <input
        type="text"
        class="form-control"
        id="cidade"
        name="cidade"
        [(ngModel)]="endereco.cidade"
        #cidade="ngModel"
        minlength="3"
        required
      />
      <div
        *ngIf="cidade.errors && (cidade.dirty || cidade.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!cidade.errors?.['required']">Digite a cidade.</div>
        <div [hidden]="!cidade.errors?.['minlength']">
          O cidade deve conter no minimo 3 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="estado">Estado:</label>
      <input
        type="text"
        class="form-control"
        id="estado"
        name="estado"
        [(ngModel)]="endereco.estado"
        #estado="ngModel"
        minlength="4"
        required
      />
      <div
        *ngIf="estado.errors && (estado.dirty || estado.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!estado.errors?.['required']">Digite a estado.</div>
        <div [hidden]="!estado.errors?.['minlength']">
          O estado deve conter no minimo 4 caracteres.
        </div>
      </div>
      <div class="form-group">
        <label for="residencial">Residencial:  </label>
        <input
          type="checkbox"
          class="form-check-input"
          id="residencial"
          name="residencial"
          [(ngModel)]="endereco.residencial"
          #residencial="ngModel"
        />
      </div>
    </div>

    <br />

    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        (click)="inserir()"
        [disabled]="!formEndereco.form.valid"
      >
        <i class="fa fa-save" aria-hidden="true"></i>Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/enderecos']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar
      </a>
    </div>
  </form>
</div>
