<mat-toolbar color="primary">
  <span>Home</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a class="nav-link"  routerLink="/pessoas" routerLinkActive="active">Pessoas</a>
    </button>
    <button mat-menu-item>
      <a class="nav-link" routerLink="/enderecos/listar" routerLinkActive="active">Endereços</a>
    </button>
    <button mat-menu-item>
      <a class="nav-link" routerLink="/cidades/listar">Cidades</a>
    </button>
    <button mat-menu-item>
      <a class="nav-link" routerLink="/estados/listar">Estados</a>
    </button>
  </mat-menu>
</mat-toolbar>

