<mat-toolbar color="primary">
    <span>Home</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a class="nav-link" href="#" routerLink="/pessoas/listar">Pessoas</a>
      </button>
      <button mat-menu-item>
        <a class="nav-link" href="#" routerLink="/enderecos/listar" routerLinkActive="active">Endereços</a>
      </button>
      <button mat-menu-item>
        <a class="nav-link" href="#" routerLink="/cidades/listar">Cidades</a>
      </button>
      <button mat-menu-item>
        <a class="nav-link" href="#" routerLink="/estados/listar">Estados</a>
      </button>
    </mat-menu>
  </mat-toolbar>
  