<nav class="conteiner-fluid">

    <nav class="navbar navbar-expand-md n navbar-dark bg-dark">

        <a href="#" class="navbar-brand nav-link" routerLink="/pessoas">
            <i class="fa fa-user-edit"></i>
        </a>

        <div class="navbar-collapse collapsed" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pessoas">Pessoas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/enderecos">Endereços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cidades">Cidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/estados">Estados</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/pessoas">Pessoas</a>
                      <a class="dropdown-item" routerLink="/enderecos">Endereços</a>
                      <a class="dropdown-item" routerLink="/cidades">Cidades</a>
                      <a class="dropdown-item" routerLink="/estados">Estados</a>
                    </div>
                </li>
            </ul>
        </div>
        

        


    </nav>


</nav>
  