<h1>Novo Cidade</h1>

<div class="well">
  <form ngForm #formCidade="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="cidade.nome"
        #nome="ngModel"
        minlength="2"
        required
      />
      <div
        *ngIf="nome.errors && (nome.dirty || nome.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!nome.errors?.['required']">Digite a nome.</div>
        <div [hidden]="!nome.errors?.['minlength']">
          O nome deve conter no minimo 2 caracteres.
        </div>
      </div>
    </div>

   <div class="form-group">
      <label for="numero">Estados</label>
        <ng-select name="estado" [items]="estados"
        bindLabel="sigla"
        [(ngModel)]="cidade.estado"
        placeholder="Selecione um estado">
      </ng-select>

   </div>
        
      
 

    <br />

    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        (click)="inserir()"
        [disabled]="!formCidade.form.valid"
      >
        <i class="fa fa-save" aria-hidden="true"></i>Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/cidades']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar
      </a>
    </div>
  </form>
</div>
